<div style="width:100%;height:100%" class="size" [ngStyle]="{'background-color': parentColorProperty}">
    <nav class="p-2  navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>    
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left:1370px;">
                <a href="#" class="btn btn-dark"  role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                    <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                  </svg> Back
            </a>
        </ul>          
        </ul>
          
        </div>
        
    </nav>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <div class="float-left">
                            Addmin Signin
                        </div>            
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="card-body" [ngClass]="{'alert-danger': status}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <input type="text" class="form-control" formControlName="username">
                                            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="username.errors?.['required']">
                                                username is required.
                                            </div>
                                    </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" formControlName="password">
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="password.errors?.['required']">
                                                password is required.
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><br>
                                    <button type="button" class="btn btn-primary" (click)="signin()">Sign
                                        in</button>&nbsp;
                                </div>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>