<app-barpage></app-barpage>

<!----- type -->
<br><br>
<p class="text">
    ประเภทต้นไม้
</p>
<br>
<div class="container">
    <div class="row g-2">
      <div class="col-3">
        <div class="p-3 border bg-light" >
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271732462_452606219663372_4830846831673583091_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeF7Brxb-OwC0i8LNLmAvqOXxZj3FwGE01fFmPcXAYTTV7_rVzwyS0kmoo3ejkFvneNh9Zki4EatizYsoedaOd85&_nc_ohc=8MHLdCVuLEEAX8CKlvu&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT9T3-Ag37sfOuctxizdaD0_9OVWhX5lun3JjLpnHf4QSA&oe=61E0E09B" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ไม้ยืนต้น</p>
          
        </div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271544236_452606156330045_2544973494535200301_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHMN-bpwmyqZew71Nhvoz_M_XGHNyThcnP9cYc3JOFycx6RC-dl62Rk4amAayIIbCHXLVwObRjnwZ_KHHGryUvF&_nc_ohc=DEDsjo7dlCwAX-Cs44J&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT97XApDG2ER5xulmN_Ip39_pQJKRTb6ogZC6RtJmt7PXg&oe=61E0FB63" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ไม้พุ่ม</p>
          
        </div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271687527_452606109663383_4830315783126118771_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEivxN8PXfFIk5lC6kB1xyJo7CHMWlQ3i-jsIcxaVDeL7S1zC3H1NcmBhkP7ERlHiINKmtLs-Qiy2xP8-1szWDm&_nc_ohc=07iLZqMgeqoAX_1HIn6&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8wbzG78Fp60jfqrXenKax_LPKrB-iiU1_DHVQw_I9Dlw&oe=61E0D5BB" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ไม้เลื้อย</p>
          
        </div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271547375_452606039663390_2966303041641739525_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEUlDY7wHalhpv7EzNXHTmVOB1VtnrmYgQ4HVW2euZiBLva7npvg2lIVC3BQv_CAVpXzw1SUvbBbZENknHnSMF4&_nc_ohc=I8WKeriAS6oAX8b7dav&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8LJvo__GVCv8WvXrS2upN_uCdRss7FLlxs2SRtJi-fbQ&oe=61E06005" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ไม้แนวรั้ว</p>
          
        </div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271620106_452605959663398_8082933475504677229_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH-Cb1qcJSlmUhFmkLa4mQUyDbKzhEPHfLINsrOEQ8d8rwA4Npbjjx1Yu4QCTVqDU0avDPoe9QPbdHFIq-Q8T4q&_nc_ohc=M0ax2RzsDBIAX-rbanh&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT_A5QKIcwrQW6xR-t_YKCo7PbgdmQO0-Fa0QVl87ETK-w&oe=61E13E4A" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ไม้ผล</p>          
        </div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">
          <a href="login">
            <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271721419_452605926330068_3540117556358209870_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEsL-GryIncK-hCi_5aIul0oabfVdJ310uhpt9V0nfXS02A22CQ0-OhPJchK_tOqsOLQ-IrUTDS4GfkyP6iWIzU&_nc_ohc=n-8a7S2JzAAAX9K4rZr&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT-dTuo2XdK5_GkK4KYEuRw8XP67kiN29G9kFPsfP3qylA&oe=61E025A0" class="d-block w-100" alt="...">
          </a><br>
          <p class="text2">ต้นไม้ฟอกอากาศ</p>          
        </div>
      </div>
    </div>
  </div>
<br><br>
<!--- search -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <p class="navbar-brand" class="text" style="margin-left:5%">สินค้า</p>
        <form class="d-flex">
            <div class="form-group col-md-2">
                <label>Min</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="฿0">
            </div>
            <div class="form-group col-md-2 text-right">
                <label>Max</label>
                <input type="number" class="form-control" placeholder="฿500">
            </div>
            <div class="form-group col-md-3 text-center">
                <label>ประเภทต้นไม้</label>
                <select class="form-select" aria-label="Default select example">
                <option selected>ต้นไม้ทุกประเภท</option>
                <option value="1">ไม้ยืนต้น</option>
                <option value="2">ไม่พุ่ม</option>
                <option value="3">ไม้เลื้อย</option>
                <option value="1">ไม้แนวรั้ว</option>
                <option value="2">ไม้ผล</option>
                <option value="3">ต้นไม้ฟอกอากาศ</option>
            </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label>ค้นหา</label>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="form-group col-md-0 text-center">
                <label><img width="19" height="19" src="https://img.icons8.com/bubbles/50/000000/down.png"/></label>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>                     
        </form>
    </div>
</nav>

<br><br><br><br><br>