<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="home" style="margin-left:2%">หน้าหลัก</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav" style="margin-left:2%">
          <li class="nav-item dropdown" class="text">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ประเภทต้นไม้
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="margin-left:11%">
              <li><a class="dropdown-item" href="#">ไม้ยืนต้น</a></li>
              <li><a class="dropdown-item" href="#">ไม้พุ่ม</a></li>
              <li><a class="dropdown-item" href="#">ไม้เลื้อย</a></li>
              <li><a class="dropdown-item" href="#">ไม้แนวรั้ว</a></li>
              <li><a class="dropdown-item" href="#">ไม้ผล</a></li>
              <li><a class="dropdown-item" href="#">ต้นไม้ฟอกอากาศ</a></li>
            </ul>
          </li>
        </ul>
        <div style="margin-left:2%">
            <a class="navbar-brand" href="login">สินค้าทั้งหมด</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div style="margin-left:10%">
            <a class="navbar-brand" href="login">วิธีการสั่งซื้อสินค้า</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div style="margin-left:10%">
            <a class="navbar-brand" href="login">แจ้งชำระเงิน</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>        
        <div style="margin-left:10%">
            <a class="navbar-brand" href="login">เกี่ยวกับเรา</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div style="margin-left:10%">
            <a class="navbar-brand" href="login">ติดต่อ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </div>
    </div>
  </nav>