<app-barpage></app-barpage>
<! --- bar --->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <a href="login">  
        <img height="480" src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271609689_452634422993885_646938026851698218_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeG4dEZkagn2R2opCAh-33yX_vpozpOway_--mjOk7BrL3GTdh0lGSIxRhQiGz-2SNDe8UlSNnX4lMhsU9LnpCZp&_nc_ohc=ro42CJoJ0K0AX_VpjHr&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT-EBetO78Q0Q3r3WymS-yw_CWcqkzuJZG2c1U8DqZscBw&oe=61E1CF23" class="d-block w-100 h-80" alt="...">
      </a> 
    </div>
    <div class="carousel-item">
      <img height="480" src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271595155_452647166325944_2801001474261129969_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH28PJtkIM1EfWz1ec3CmtIDiMwX68QYjwOIzBfrxBiPIr3lTHPHnch54g6Bfn58-hkfwMpXHvebMTXtQ50FtiU&_nc_ohc=M-GtHa5nNoYAX_8aTH1&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8KCwXZCNAVS8qau3iwI5IEfwNiMHf7HE_aJcuapRbJXg&oe=61E22BDD" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img height="480" src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271668345_452647152992612_7915218530582889033_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFpuVs5TIviB0z0jVdZIghTD6eb_JC64aQPp5v8kLrhpP3sYzN5vXFGQyXiebwaJoOeP2WHpJK7tB1Q0sy5lT7U&_nc_ohc=p-WFVZFjTwIAX8co1Xh&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT-q5HmBcqTp-5lfN2EpSMcxhwmLsZmBSNyHmxIe_iTycA&oe=61E09C4C" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img height="480" src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271543530_452647182992609_7220189271513014985_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeF4VhI9TFyiRptVhF_pQ-BNFe88YWqSF9cV7zxhapIX14t3Lu77lGSJL5_lpUvRHFioyEF7x3ys7roKrVq9mVpZ&_nc_ohc=wYL6a6LaRaoAX-8LKAt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT_pPwegKf_djY--UchUyX4opoo1s0H5g2aO7NGdxl38TA&oe=61E0F935" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>
  <br><br>
  <p class="text">
    ยินดีต้อนรับสู่ Tree Storage
  </p>
  <p class="text2">
    ร้านขายต้นไม้ออนไลน์ ที่คัดสรรต้นไม้คุณภาพ ไม่ว่าจะเป็น ไม้ยืนต้น ไม่พุ่ม ไม้เลื้อย ไม้แนวรั้ว ไม้ผล และ ต้นไม้ฟอกอากาศ ให้เลือกมากมาย ส่งตรงถึงหน้าบ้าน<br>
  มีบริการจัดส่งทั่วประเทศ โดยอยากให้ทุกคนร่วมกันปลูกต้นไม้เพื่ออนุรักษ์สิ่งแวดล้อม เพิ่มพื้นที่สีเขียว โดยทางเราขอเป็นส่วนหนึ่งในการมอบอนาคตของโลกและชีวิตที่ดีขึ้นของทุกคน
  </p>
  <br>
</div>

<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img href="login" src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271732462_452606219663372_4830846831673583091_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeF7Brxb-OwC0i8LNLmAvqOXxZj3FwGE01fFmPcXAYTTV7_rVzwyS0kmoo3ejkFvneNh9Zki4EatizYsoedaOd85&_nc_ohc=8MHLdCVuLEEAX8CKlvu&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT9T3-Ag37sfOuctxizdaD0_9OVWhX5lun3JjLpnHf4QSA&oe=61E0E09B" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271544236_452606156330045_2544973494535200301_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHMN-bpwmyqZew71Nhvoz_M_XGHNyThcnP9cYc3JOFycx6RC-dl62Rk4amAayIIbCHXLVwObRjnwZ_KHHGryUvF&_nc_ohc=DEDsjo7dlCwAX-Cs44J&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT97XApDG2ER5xulmN_Ip39_pQJKRTb6ogZC6RtJmt7PXg&oe=61E0FB63" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271687527_452606109663383_4830315783126118771_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEivxN8PXfFIk5lC6kB1xyJo7CHMWlQ3i-jsIcxaVDeL7S1zC3H1NcmBhkP7ERlHiINKmtLs-Qiy2xP8-1szWDm&_nc_ohc=07iLZqMgeqoAX_1HIn6&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8wbzG78Fp60jfqrXenKax_LPKrB-iiU1_DHVQw_I9Dlw&oe=61E0D5BB" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271547375_452606039663390_2966303041641739525_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEUlDY7wHalhpv7EzNXHTmVOB1VtnrmYgQ4HVW2euZiBLva7npvg2lIVC3BQv_CAVpXzw1SUvbBbZENknHnSMF4&_nc_ohc=I8WKeriAS6oAX8b7dav&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8LJvo__GVCv8WvXrS2upN_uCdRss7FLlxs2SRtJi-fbQ&oe=61E06005" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271620106_452605959663398_8082933475504677229_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH-Cb1qcJSlmUhFmkLa4mQUyDbKzhEPHfLINsrOEQ8d8rwA4Npbjjx1Yu4QCTVqDU0avDPoe9QPbdHFIq-Q8T4q&_nc_ohc=M0ax2RzsDBIAX-rbanh&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT_A5QKIcwrQW6xR-t_YKCo7PbgdmQO0-Fa0QVl87ETK-w&oe=61E13E4A" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271721419_452605926330068_3540117556358209870_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEsL-GryIncK-hCi_5aIul0oabfVdJ310uhpt9V0nfXS02A22CQ0-OhPJchK_tOqsOLQ-IrUTDS4GfkyP6iWIzU&_nc_ohc=n-8a7S2JzAAAX9K4rZr&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT-dTuo2XdK5_GkK4KYEuRw8XP67kiN29G9kFPsfP3qylA&oe=61E025A0" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
  </div>
</div>
<div><br><br></div>
<!----CONTACT-->
<div>
  <p class="text">
    ติดต่อ
  </p>
  <div class="container" align="center">
    <div class="row">
      <div class="col">
        <img src="https://img.icons8.com/nolan/64/phone-disconnected.png"/>
        <p>Tel. 09-8634-9245</p>
      </div>
      <div class="col">
        <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-email-cyber-security-kiranshastry-gradient-kiranshastry-1.png"/>
        <p>E-mal : TreeStorage@gmail.com</p>
      </div>
      <div class="col">
        <img src="https://img.icons8.com/nolan/64/line-me.png"/>
        <p>Line ID: @TreeStorage     </p>
      </div>
    </div>
  </div>
</div>
<div id="btbar" class="grad">
  <div class="text3"><br><a>DevTeam</a><br></div>
  <div class="text3">
      <a>B6107826 Makawan Thojan &nbsp;&nbsp;&nbsp;</a>
  </div>
  <div>
    <br>
  </div>
</div>
