<app-barpage></app-barpage>
<! --- bar --->

<div>
  <br><br>
  <p class="text">
    ยินดีต้อนรับสู่ Tree Storage
  </p>
  <p class="text2">
    ร้านขายต้นไม้ออนไลน์ ที่คัดสรรต้นไม้คุณภาพ ไม่ว่าจะเป็น ไม้ยืนต้น ไม่พุ่ม ไม้เลื้อย ไม้แนวรั้ว ไม้ผล และ ต้นไม้ฟอกอากาศ ให้เลือกมากมาย ส่งตรงถึงหน้าบ้าน<br>
  มีบริการจัดส่งทั่วประเทศ โดยอยากให้ทุกคนร่วมกันปลูกต้นไม้เพื่ออนุรักษ์สิ่งแวดล้อม เพิ่มพื้นที่สีเขียว โดยทางเราขอเป็นส่วนหนึ่งในการมอบอนาคตของโลกและชีวิตที่ดีขึ้นของทุกคน
  </p>
  <br>
</div>

<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271732462_452606219663372_4830846831673583091_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeF7Brxb-OwC0i8LNLmAvqOXxZj3FwGE01fFmPcXAYTTV7_rVzwyS0kmoo3ejkFvneNh9Zki4EatizYsoedaOd85&_nc_ohc=8MHLdCVuLEEAX8CKlvu&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT9T3-Ag37sfOuctxizdaD0_9OVWhX5lun3JjLpnHf4QSA&oe=61E0E09B" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271544236_452606156330045_2544973494535200301_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHMN-bpwmyqZew71Nhvoz_M_XGHNyThcnP9cYc3JOFycx6RC-dl62Rk4amAayIIbCHXLVwObRjnwZ_KHHGryUvF&_nc_ohc=DEDsjo7dlCwAX-Cs44J&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT97XApDG2ER5xulmN_Ip39_pQJKRTb6ogZC6RtJmt7PXg&oe=61E0FB63" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271687527_452606109663383_4830315783126118771_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEivxN8PXfFIk5lC6kB1xyJo7CHMWlQ3i-jsIcxaVDeL7S1zC3H1NcmBhkP7ERlHiINKmtLs-Qiy2xP8-1szWDm&_nc_ohc=07iLZqMgeqoAX_1HIn6&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8wbzG78Fp60jfqrXenKax_LPKrB-iiU1_DHVQw_I9Dlw&oe=61E0D5BB" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271547375_452606039663390_2966303041641739525_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEUlDY7wHalhpv7EzNXHTmVOB1VtnrmYgQ4HVW2euZiBLva7npvg2lIVC3BQv_CAVpXzw1SUvbBbZENknHnSMF4&_nc_ohc=I8WKeriAS6oAX8b7dav&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT8LJvo__GVCv8WvXrS2upN_uCdRss7FLlxs2SRtJi-fbQ&oe=61E06005" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271620106_452605959663398_8082933475504677229_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH-Cb1qcJSlmUhFmkLa4mQUyDbKzhEPHfLINsrOEQ8d8rwA4Npbjjx1Yu4QCTVqDU0avDPoe9QPbdHFIq-Q8T4q&_nc_ohc=M0ax2RzsDBIAX-rbanh&tn=Ve2-ftERymWjG8Lt&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT_A5QKIcwrQW6xR-t_YKCo7PbgdmQO0-Fa0QVl87ETK-w&oe=61E13E4A" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
        <a href="login">
          <img src="https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/271721419_452605926330068_3540117556358209870_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEsL-GryIncK-hCi_5aIul0oabfVdJ310uhpt9V0nfXS02A22CQ0-OhPJchK_tOqsOLQ-IrUTDS4GfkyP6iWIzU&_nc_ohc=n-8a7S2JzAAAX9K4rZr&_nc_ht=scontent.fkkc3-1.fna&oh=00_AT-dTuo2XdK5_GkK4KYEuRw8XP67kiN29G9kFPsfP3qylA&oe=61E025A0" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
  </div>
</div>
<div><br><br></div>
<!----CONTACT-->
<div>
  <p class="text">
    ติดต่อ
  </p>
  <div class="container" align="center">
    <div class="row">
      <div class="col">
        <img src="https://img.icons8.com/nolan/64/phone-disconnected.png"/>
        <p>Tel. 09-8634-9245</p>
      </div>
      <div class="col">
        <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-email-cyber-security-kiranshastry-gradient-kiranshastry-1.png"/>
        <p>E-mal : TreeStorage@gmail.com</p>
      </div>
      <div class="col">
        <img src="https://img.icons8.com/nolan/64/line-me.png"/>
        <p>Line ID: @TreeStorage     </p>
      </div>
    </div>
  </div>
</div>
<div id="btbar" class="grad">
  <div class="text3"><br><a>DevTeam</a><br></div>
  <div class="text3">
      <a>B6107826 Makawan Thojan &nbsp;&nbsp;&nbsp;</a>
  </div>
  <div>
    <br>
  </div>
</div>
