<div style="width:100%;height:100%" class="size" [ngStyle]="{'background-color': parentColorProperty}">
    <nav class="p-2  navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>    
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="home" class="btn btn-dark"  role="button">
                  <img width="35" height="35" src="https://img.icons8.com/nolan/64/home.png"/> Tree Storage
                </a>            
            </li>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left:1190px;">
                <a href="adminlogin" class="btn btn-dark"  role="button">
                <img width="35" height="35" src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-admin-project-work-icongeek26-outline-gradient-icongeek26.png"/> 
                  Admin
            </a>
        </ul>          
        </ul>          
        </div>        
    </nav>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <div class="float-left">
                            Signin
                        </div>            
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="card-body" [ngClass]="{'alert-danger': status}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <input type="text" class="form-control" formControlName="username">
                                            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="username.errors?.['required']">
                                                username is required.
                                            </div>
                                    </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" formControlName="password">
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="password.errors?.['required']">
                                                password is required.
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><br>
                                    <button type="button" class="btn btn-primary" (click)="signin()">Sign
                                        in</button>&nbsp;
                                    <button type="button" class="btn btn-primary" (click)="signup()">Sign
                                        up</button>&nbsp;
                                </div>
                                <div><br>
                                    <a href="https://www.google.co.th/" role="text">
                                      Forgot password?
                                    </a>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>